<md-toolbar>
  <div class="nav-left">
    <div class="item" routerLink="/create/project">Start A Project</div>
    <div class="item" routerLink="/search">Explore</div>
    <div class="item" routerLink="/about">About Us</div>
  </div>

  <div class="nav-center">
    <div class="home" routerLink="/" routerLinkActive="active"> <h1>{{title}}</h1> </div>
  </div>

  <div class="nav-right" *ngIf="!(loggedIn | async)">
    <div class="item" (click)="login()">Log in</div>
    <div class="item"  (click)="register()">Sign up</div>
  </div>

  <div class="nav-right" *ngIf="(loggedIn | async)">
    <div class="item" [routerLink]="['/dashboard']">Dashboard</div>
    <div class="item" (click)="logout()">Log out</div>
  </div>

</md-toolbar>
<router-outlet></router-outlet>
