
<md-card>
  <div class="update" *ngFor="let update of updates; let i=index; let last = last;" [class.last-item]="last">
    <md-card-title>
      <h4>{{ update.name }}</h4>
    </md-card-title>

    <md-card-content>
      <p>{{ update.description }}</p>
    </md-card-content>

      <md-card-actions>
        <button md-button md-ripple (click)="viewUpdate(update.id)">
          Read More
        </button>
      </md-card-actions>
      <br>
      <hr>
  </div>
</md-card>
<router-outlet></router-outlet>