button {
    float:right;
    border-right:15px solid transparent;
}

md-card {
    float:right;
    margin-top:15px;
}

.update {
    float:right;
    margin-top:15px;
}

h4 {
    margin:0px;
}

.last-item hr{
    border-width: 0px;
}