.main {
    background-image: url("/src/assets/1.jpg") !important ;
    width: 100%;
    box-shadow: none !important;
    height: 500px;
}


.login {
    margin: auto;
    width: 30%;
    text-align:center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.app-input-section {
    margin: auto;
    width: 100%;
    padding: 0px;
}

.long {
    width: 90%;
    padding-bottom: 13px;
}

.form-group {
  box-shadow: none !important;
}


button {
    font-size: 1rem;
    height: 50px;
    color: white !important;
    width: 90%;
    margin-bottom: 13px;   
}

.other {
    color: black !important;
}