$color: rgb(50,50,50);
$color-fade: rgb(180,180,180);
$border-color: rgb(220,220,220);
$border-color-on-hover: rgb(180,180,180);
$progress-color: #2BDE73;


.main{
  line-height:2em;
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: left;
}

@keyframes example {
    from {width: 0;}
    to {}
}


.card__progress {
  position: relative;
  width: 100%;
  height: 10px;
  margin: 0.6rem 0 0.4rem 0;
  background-color: #e6e7e8;
  overflow: hidden;
}

.card__progress span {
  position: relative;
  display: block;
  height: 10px;
  background: $progress-color;
  transition: 0.2s all ease-in-out;
  animation-name: example;
  animation-duration: 1s;
}


h1 { margin: 0;}


.category {
  display: inline;
  padding: 0;
  margin: 0;
  color: #26A65B;
}

.container{
  width: 1350px;
  margin: auto;
  position:relative;
}

.header{
  padding: 10px;
  padding-left:0px;
  width: 1050px;
}

.colum_left{
  margin: 0px;
  width: 65%;
  float: left;
}

.colum_right{
  margin: 0px;
  width: 35%;
  float: right;
}

.updates{
  margin: 0px;
  padding: 0px;
}

.description {
    margin-top: 25px;
    box-shadow: none !important;
}

.info{
  height: 300px;
  box-shadow: none !important;
  text-align: center;
  padding-top: 100px;
}


.donate_button{
  margin: 40px 0px 20px 0px;
  width: 80%;
}

.share_button{
  padding: 0px;
  width: 40%;
}
.remind_button{
  padding: 0px;
  width: 40%;
}

.project__header-image {
  height: 100%;
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s all;
  margin: 0px;
}

.demo-secondary-text{
  height:175px;
  padding: 0;
  margin: 0;
}

.card {
  position: relative;
  height: auto;
  width: 100%;
  color: $color;
  border-radius: 2px;
}

.card > * {
  cursor: default;
}

// Card Header

.card__header {
  position: relative;
  height: 45%;
  width: 100%;
  overflow: hidden;
}

.card__header-image {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s all;
}

// Card Body

.card__body {
  position: relative;
  padding: 1rem;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: $border-color;
}

.card__body-subtitle {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
  color: $color-fade;
  padding: 0.25rem 0.5rem;
  margin: 0.2rem 0;
  border: 1px solid;
  border-color: $border-color;
  border-radius: 20px;
}

.card__body-title {
  max-width: 90%;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4;
  padding: 0;
  margin: 1rem 0 0.4rem 0;
}

.card__body-content {
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 0;
  margin: 0.6rem 0;
}

// Card Footer

.card__footer {
  position: relative;
  border: 1px solid;
  border-color: $border-color;
  padding: 1rem;
}

.card__footer-title {
  font-size: 0.95rem;
  font-weight: 400;
}

.card__footer-footnote {
  font-size: 0.7rem;
  color: $color-fade;
  // TODO: Add Multi-Browser Support
  display: flex;
  justify-content: space-between;
}
